.homepage{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 40vw;
    height: 40vh;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px gray;
    background:white;
    position: relative;
    
}
.homepage > .button{
    background: rgb(74, 131, 236);
    border: 1px solid #1877F2;
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem;
    /* padding-top: 14px; */
    margin: 0.5rem 10px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    /* size: 16px; */
    
}